main {
    text-align: center;
}

.shellButton {
    background-color: transparent;
    border: thick dotted transparent;
    outline: none;
    cursor: pointer;
}

.shellImg {
    width: 320px;
    height: 226px;
    z-index: 0;
}

#shellContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 50px;
    background-color: transparent;
}

#pearlImg {
    display: none;
    position: absolute;
}

.pearlLocation {
    transform: translateY(113px);
}

.hidden {
    display: none;
}
